
body{
    width: 100%;
}

.TituloViews {
    text-align: left;
    font-weight: bolder;
    color: black;
    font-size: 50px;
}

.FondoViews {
    background-color: burlywood;
}



