/*Grilla */
/*Este tambien contaria como los estilos SCSS de locales ya que la grilla es basicamente todo el CSS de la pagina locales*/


.Grid-container {
    display: grid;
    grid-template-columns: repeat(auto, minmax(300px, 1fr));
    grid-gap: 1em;
}

.ImagenesLocales{
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

.location-listing{
    position: relative;
}

.location-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(90,0,10,0.4);
}

.location-image{
    line-height: 0;
}

.location-title{
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: white;
    
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.location-listing:hover .location-title{
    opacity: 1;
}

.location-image .ImagenesLocales{
    filter: blur(0px);
    transition: filter 0.3s ease-in;
}

.location-listing:hover .location-image .ImagenesLocales{
    filter: blur(2px);
}

.location-image .ImagenesLocales {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }

  .location-listing {
    position: relative;
    overflow: hidden;
  }
