#TituloInstitucional {

    text-transform: uppercase;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    color: black;
    font-size: 35px;
    font-family: 'PT Sans', sans-serif;
}

#ParrafosInstitucional {

    font-style: normal;
    width: 300px;
    padding-left: 200px;
    padding-right: 0px;

}

#ImagenInstitucional{
    float: right;
    height: 500px;
}