<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <title> Galerias </title>

    <link rel="stylesheet" type="text/css" href="../assests/css/estilos.css">

</head>

<body>

    <body>

        <header class="EncabezadoViews">
            <nav>   
                     
                    <ul class="ListasViews">
                        <li> <a href="../index.html"> Inicio </a></li>
                        <li> <a href="./menú.html"> Menú </a> </li>
                        <li> <a href="./galería.html"> Galería </a> </li>
                        <li> <a href="./locales.html"> Locales </a> </li>
                        
                    </ul>
            </nav>

<div class="TituloViews">
            <p>GALERÍA</p>
        </div>

         </header>  
   
<section class="FondoViews">
    
    <div class="rowGalerias">

        <div class="Galeria1">
            <img src="../Imagen/fotos_galeria_restaurante01.jpg" alt="Primera foto de la galeria" width="100%">
        </div>

        <div class="Galeria1">  
            <img src="../Imagen/Foto galeria restaurante 02.jpg" alt="segunda foto de la galeria" width="100%">
        </div>

        <div class="Galeria1">
            <img src="../Imagen/Foto galeria restaurante 03.jpg" alt="Tercera foto de la galeria" width="100%">
        </div>

        <div class="Galeria1">
            <img src="../Imagen/Foto galeria restaurante 04.jpg" alt="Cuarta foto de la galeria" width="100%">
        </div>

        <div class="Galeria1">
            <img src="../Imagen/foto galeria restaurante 05.jpg" alt="Quinta foto de la galeria" width="100%">
        </div>

        <div class="Galeria1">
            <img src="../Imagen/foto galeria restaurante 06.jpg" alt="Sexta foto de la galeria" width="100%">
        </div>

    <div/>  

</section>



</body>


<footer id="footer">
    <hr>
    <h2>Contactanos</h2>
    <p>mail</p><p>numero de telefono</p>
      <h2>Encuentranos en rrss</h2>

    
    <img src="../Imagen/logo.png" alt="Logo" height="60px" width="60px">
    <p> "La magia del sabor" </p>

</footer>
</html>