<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta name="description" content="Esta es la galeria de Steak House donde se presentan varios platos de nuestro menú">
    <meta name="keywords" content="Galeria Steak House, Galeria Platos finos">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/20dbc68d3e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title> Galeria Steak House </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../assests/css/estilos.css">

</head>

<body>
  <header class="EncabezadoViews">
    <nav>

      <div id="navigator"></div>
        <div class="topnav">
          <ul id="nav">
            <li><a   href="../index.html"> Inicio</a> </li>
            <li> <a  href="../views/menu.html"> Menú</a> </li>
            <li> <a  class="active" href="../views/galeria.html"> Galería</a> </li>
            <li> <a  href="../views/locales.html"> Locales</a> </li>
            <li> <a  href="../views/Preguntas.html"> Preguntas</a> </li>

          </ul>
        </div>
      </div>

      <div class="TituloViews">
        <p>GALERIA</p>
     </div>

  </nav>
 </header>
 <section class="FondoViews">
  <main class="container">
    <div class="row">
         <div class="col s12 center-align">
              <h1 class="titulo">Album de Fotos</h1>
         </div>
    </div>

    <div class="row galeria">
         <div class="col s12 m4 l3">
              <div class="material-placeholder">
                   <img src="../Imagen/Galeria12.jpg" alt="" class="responsive-img materialboxed" data-caption="Uno de nuestros tantos cortes de carne, cocinado al punto exacto">
              </div>
         </div>
         
         <div class="col s12 m4 l3">
              <div class="material-placeholder">
                   <img src="../imagen/Foto galeria restaurante 16.jpg" alt="" class="responsive-img materialboxed" data-caption="Un ambiente tranquilo y elegante para disfrutar de una velada hermosa">
              </div>
         </div>
         
         <div class="col s12 m4 l3">
              <div class="material-placeholder"><img src="../imagen/Foto galeria restaurante 07.png" alt="" class="responsive-img materialboxed" data-caption="Uno de nuestros tantos cortes de carne, cocinado al punto exacto."></div>
         </div>
         
         <div class="col s12 m4 l3">
              <div class="material-placeholder"><img src="../Imagen/Foto galeria restaurante 14.jpg" alt="" class="responsive-img materialboxed" data-caption="Un plato preparado exquisito acompañada de una de nuestras tantas opciones que ofrece la carta"></div>
         </div>
        
    </div>
  </main>
 </section>

  <section class="FooterSection">
    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>Steak<span>House</span></h3>
            <img src="../Imagen/logo.png" alt="logo" height="100" width="150">
            <p class="footer-links">
                <a class="links" href="../index.html">Inicio</a>
                <a class="links" href="../views/galeria.html">Galería</a>
                <a class="links" href="../views/menu.html">Menú</a>
                <a class="links" href="../views/locales.html">Locales</a>
                <a class="links" href="../views/reservas.html">Reservas</a>
            </p>
            <p class="footer-company-name">Steak House © Copyright 2021</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p>Argentina, Buenos Aires</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+54 9 11 3629-1942</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:Contacto@SteakHouse.com">Contacto@SteakHouse.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>"La magia del sabor"</span>
            </p>
            <div class="redes-conteiner">
                <ul>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank" class="instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://web.whatsapp.com/" target="_blank" class="whatsapp">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Andy153/ProyectoProgWeb" target="_blank" class="github">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
  </section>

  <script src="../menu.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

            

</html>