<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <title> Institucional </title>

    <link rel="stylesheet"   type="text/css"  href="../assests/css/estilos.css">
</head>

<body>

    <header class="EncabezadoViews">
          <nav>   
            <div id="navigator">
            <div class="topnav">
            <ul id="nav">
              <li><a   href="../index.html"> Inicio</a> </li>
              <li> <a  href="../views/menu.html"> Menú</a> </li>
              <li> <a  href="../views/galeria.html"> Galería</a> </li>
              <li> <a  href="../views/locales.html"> Locales</a> </li>
              <li> <a  class="active" href="../views/institucional.html"> Institucional</a> </li>
              
            </ul>
            </div>
          
          </nav>

        <div class="TituloViews">
          <p>Institucional</p>
        </div>

    </header>  

    <body> 
        <div id="InstitucionalViews"> 

            <img src="../Imagen/Institucional.png" id="ImagenInstitucional" width="50%">

            <div> 
             <h1 id="TituloInstitucional"> Un poco de nuestra historia </h1>
            <div id="ParrafosInstitucional">
                <div>
                 <p> Steak House es un restaurant de Contemporary American Cuisine. El primer Restaurant fue inaugurado en Junio de 1999 en San Isidro. </p>
                </div>

                <div>
                    <p> Nuestra visión es aportar alimentos de calidad en un ambiente placentero a través de un servicio excelente.</p>
                </div>

                <div> 
                    <p> En Steak House estamos deseosos de satisfacer la confianza que los clientes nos depositan. Procuramos prestar atención a los más pequeños detalles para lograr un servicio rápido y eficiente que supere todas las expectativas.</p>
                </div>

                <div> 
                    <p>  En Steak House consideramos que la música, la arquitectura y la decoración son componentes esenciales de la experiencia gastronómica. Fundimos todos estos elementos para crear un ambience placentero que exalte las sensaciones del paladar. Cada uno de nuestros locales tiene su propio carácter: en su construcción se ha prestado especial atención a los materiales utilizados y al diseño de sus espacios interiores.</p>
                </div>

                <div>
                    <p>Esperamos verlos pronto y acuerdense "La magia del sabor".</p>
                </div>
            </div>
            
          </div>
    </body>

    <div class="FooterSection">

<footer>
  <footer class="footer-distributed">
  
        <div class="footer-left">
  
          <h3>Steak<span>House</span></h3>
          <img src="../imagen/logo.png" alt="logo" height="100" width="150">
  
          <p class="footer-links">
            
            <a href="../index.html">Inicio</a>
          
            <a href="../views/galeria.html">Galería</a>
          
            <a href="../views/menu.html">Menú</a>
            
            <a href="../views/locales.html">Locales</a>
            
            <a href="../views/institucional.html">Institucional</a>
          </p>
  
          <p class="footer-company-name">Steak House © Copyright 2021</p>
        </div>
  
        <div class="footer-center">
  
          <div>
            <i class="fa fa-map-marker"></i>
            <p>Argentina, Buenos Aires</p>
          </div>
  
          <div>
            <i class="fa fa-phone"></i>
            <p>+54 9 11 3629-1942</p>
          </div>
  
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:Contacto@SteakHouse.com">Contancto@SteakHouse.com</a></p>
          </div>
  
        </div>
  
        <div class="footer-right">
  
          <p class="footer-company-about">
            <span> "La magia del sabor"</span>
          </p>
  
          <div class="footer-icons">
  
            <img src="../imagen/snapchat.png"  alt="Logo de snapchat" height="80" width="80"> <i class="fa fa-snapchat"></i>
            <img src="../imagen/twitter.png"  alt="Logo de twitter"  height="80" width="85"> <i class="fa fa-twitter"></i>
            <img src="../imagen/linkedin.png" alt="Logo de linkedin" height="80" width="90"> <i class="fa fa-linkedin"></i>
            <img src="../imagen/github.png" alt="Logo de github" height="80" width="85"> <i class="fa fa-github"></i>
  
          </div>
  
        </div>
  
      </footer>
 
</footer>
            


</body>

</html>