<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <title> Locales </title>

    <link rel="stylesheet"   type="text/css"   href="../assests/css/estilos.css">
</head>

<body>

    <header class="EncabezadoViews">
        <nav>   
            
  
                <ul class="ListasViews" >
                    <li> <a href="../index.html"> Inicio </a></li>
                    <li> <a href="./menú.html"> Menú </a> </li>
                    <li> <a href="./galería.html"> Galería </a> </li>
                    <li> <a href="./locales.html"> Locales </a> </li>
                    
  
                </ul>
        </nav>

        <div class="TituloViews">
            <p>LOCALES</p>
         </div>

    </header>  

    

 <section class="FondoViews">
    <div class="row">
    
        <div class="Locales">
            <img src="../Imagen/Restaurante-San Isidro.jpg" alt="Foto restaurante San Isidro" style="width: 100%;" >
            <p>SAN ISIDRO</p>

        </div>

        <div class="Locales">
            <img src="../Imagen/Restaurante-Caballito.jpg" alt="Foto restaurante Caballito" style="width: 125%;">
            <p>CABALLITO</p>

        </div>


        <div class="Locales2">
            <img src="../Imagen/Locales-Puerto Mader.jpg" alt="Foto restaurante Puerto Madero" style="width: 100%;" >
            <p>PUERTO MADERO</p>

        </div>

        <div class="Locales2">
            <img src="../Imagen/Restaurante-Belgrano.jpg" alt="Foto restaurante Belgrano" style="width: 100%;">
            <p>BELGRANO</p>

        </div>
    
    <div/>

    </section>
       

    <footer id="footer"> 
       <hr>
       <h2>Contactanos</h2>
       <p>mail</p><p>numero de telefono</p>
         <h2>Encuentranos en rrss</h2>
 
       
       <img src="../Imagen/logo.png" alt="Logo" height="60px" width="60px">
       <p> "La magia del sabor" </p>

    </footer>




</body>

</html>