<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <meta name="description" content="Aca encontras donde estan ubicados los locales de Steak House">
    <meta name="keywords" content="Locales Steak House, ubicación Steak House">
    <title> Locales Steak House </title>

    <link rel="stylesheet"   type="text/css"   href="../assests/css/estilos.css">
</head>

<body>

    <header class="EncabezadoViews">
        <nav>   

          <div id="navigator"></div>
          <div class="topnav">
          <ul id="nav">
            <li><a  href="../index.html"> Inicio</a> </li>
            <li> <a  href="../views/menu.html"> Menú</a> </li>
            <li> <a  href="../views/galeria.html"> Galería</a> </li>
            <li> <a class="active" href="../views/locales.html"> Locales</a> </li>
            <li> <a  href="../views/reservas.html"> Reservas</a> </li>
            
          </ul>
          </div>
        </div>

        </nav>

        <div class="TituloViews">
            <p>LOCALES</p>
         </div>

    </header>  

    

 <section class="FondoViews">

    <div class="Grid-container">



        <article class="location-listing">
            <a class="location-title" href="#">San Isidro</a>
            <div class="location-image">
              <a href="#">
                <img src="../imagen/Restaurante-San Isidro.jpg" alt="Local San isidro" class="ImagenesLocales">
              </a>
            </div>
          </article>



          <article class="location-listing">
            <a class="location-title" href="#">Caballito</a>
            <div class="location-image">
              <a href="#">
                <img src="../imagen/Restaurante-Caballito.jpg" alt="Foto restaurante Caballito" class="ImagenesLocales">
              </a>
            </div>
          </article>


          <article class="location-listing">
            <a class="location-title" href="#">Puerto Madero</a>
            <div class="location-image">
              <a href="#">
                <img src="../imagen/Locales-Puerto Mader.jpg" alt="Foto restaurante Puerto Madero" class="ImagenesLocales">
              </a>
            </div>
          </article>
            
        
          <article class="location-listing">
            <a class="location-title" href="#">Belgrano</a>
            <div class="location-image">
              <a href="#">
                <img src="../imagen/Restaurante-Belgrano.jpg" alt="Foto restaurante Belgrano" class="ImagenesLocales">
              </a>
            </div>
          </article>
               
              



    </div>
 </section>
       

<section class="FooterSection">


  <footer class="footer-distributed">
  
        <div class="footer-left">
  
          <h3>Steak<span>House</span></h3>
          <img src="../imagen/logo.png" alt="logo" height="100" width="150">
  
          <p class="footer-links">
            
            <a class="links" href="../index.html">Inicio</a>
          
            <a class="links" href="../views/galeria.html">Galería</a>
          
            <a class="links" href="../views/menu.html">Menú</a>
            
            <a class="links" href="../views/locales.html">Locales</a>
            
            <a class="links" href="../views/reservas.html">Reservas</a>
          </p>
  
          <p class="links" class="footer-company-name">Steak House © Copyright 2021</p>
        </div>
  
        <div class="footer-center">
  
          <div>
            <i class="fa fa-map-marker"></i>
            <p>Argentina, Buenos Aires</p>
          </div>
  
          <div>
            <i class="fa fa-phone"></i>
            <p>+54 9 11 3629-1942</p>
          </div>
  
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:Contacto@SteakHouse.com">Contacto@SteakHouse.com</a></p>
          </div>
  
        </div>
  
        <div class="footer-right">
  
          <p class="footer-company-about">
            <span> "La magia del sabor"</span>
          </p>
  
          <div class="footer-icons">
  
            <img src="../imagen/snapchat-min.png"  alt="Logo de snapchat" height="70" width="70"> <i class="fa fa-snapchat"></i>
            <img src="../imagen/twitter-min.png"  alt="Logo de twitter"  height="70" width="75"> <i class="fa fa-twitter"></i>
            <img src="../imagen/linkedin-min.png" alt="Logo de linkedin" height="70" width="85"> <i class="fa fa-linkedin"></i>
            <img src="../imagen/github.png" alt="Logo de github" height="70" width="70"> <i class="fa fa-github"></i>
  
          </div>
  
        </div>
  
   </footer>
 

            




</body>

</html>