<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <meta name="description" content="Esta es el menú de Steak House donde se presentan varios platos de nuestro menú">
    <meta name="keywords" content="Menú Steak House, Menú de carnes finas">
    <title> Menú Steak House </title>

    <link rel="stylesheet"   type="text/css"  href="../assests/css/estilos.css">
</head>

<body>

  <header class="EncabezadoViews">
          <nav>   
                  
  
            <div id="navigator"></div>
            <div class="topnav">
            <ul id="nav">
              <li><a   href="../index.html"> Inicio</a> </li>
              <li> <a  class="active" href="../views/menu.html"> Menú</a> </li>
              <li> <a  href="../views/galeria.html"> Galería</a> </li>
              <li> <a  href="../views/locales.html"> Locales</a> </li>
              <li> <a  href="../views/reservas.html"> Reservas</a> </li>
              
            </ul>
            </div>
          </div>

          </nav>

        <div class="TituloViews">
          <p>MENÚ</p>
        </div>

       
    
  </header>  
 <section class="FondoViews"> 
  <div>
    <div  id= "Centre" class="TextoViews">

      <div class="container1">
        <div class="menu">
          <h2 class="menu-group-heading">
            Platos Principales
          </h2>
          <div class="menu-group">
            <div class="menu-item">
              <img class="menu-item-image" src="../imagen/Foto galeria restaurante 08.png" alt="Lomo al Malbec">
              <div class="menu-item-text">
                <h3 class="menu-item-heading">
                  <span class="menu-item-name"> Lomo al Malbec </span>
                  <span class="menu-item-price">$720</span>
                </h3>
                <p class="menu-item-description">
                  300 gr. de lomo envuelto en panceta con salsa malbec, acompañado de puré de papas y tomate horneado.
                </p>
              </div>
            </div>
            <div class="menu-item">
              <img class="menu-item-image" src="../imagen/Foto Menu 1.jpg" alt="Lomo con marinada de verduras">
              <div class="menu-item-text">
                <h3 class="menu-item-heading">
                  <span class="menu-item-name">Lomo con marinada de verduras</span>
                  <span class="menu-item-price">$650</span>
                </h3>
                <p class="menu-item-description">
                  Muy tierno y con un sabor especial agregado por las verduras
                  Es la carne que se puede comer en varios puntos de cocción porque por general  se mantiene tierna y se adapta a cualquier tipo de guarnición que la acompañe.          
                </p>
              </div>
            </div>
            <div class="menu-item">
              <img class="menu-item-image" src="../imagen/menu 2.jpg" alt="Bondiola de cerdo mechada con panceta">
              <div class="menu-item-text">
                <h3 class="menu-item-heading">
                  <span class="menu-item-name">Bondiola de cerdo mechada con panceta</span>
                  <span class="menu-item-price">$700</span>
                </h3>
                <p class="menu-item-description">
                  Una comida para degustar con un buen vino tinto y comprender los aromas y texturas que se logran a partir de la combinación de los ingredientes de este plato.       
                </p>
              </div>
            </div>

            <div class="menu-item">
              <img class="menu-item-image" src="../imagen/Menu 3.jpg" alt="Matambrito de cerdo">
              <div class="menu-item-text">
                <h3 class="menu-item-heading">
                  <span class="menu-item-name">Matambrito de cerdo</span>
                  <span class="menu-item-price">$645</span>
                </h3>
                <p class="menu-item-description">
                  La parte de cerdo que nunca falla cuando se cocina a la parrilla.
                  Su sabor con limón y sal es inigualable y se puede acompañar muy bien con ensaladas frescas condimentadas con aceto balsámico y aceite de oliva.
                    
                </p>
              </div>
            </div>
            <div class="menu-item">
              <img class="menu-item-image" src="../imagen/Menu 4.jpg" alt="Ojo de bife large (600grs)">
              <div class="menu-item-text">
                <h3 class="menu-item-heading">
                  <span class="menu-item-name">Ojo de bife large (600grs)</span>
                  <span class="menu-item-price">$710</span>
                </h3>
                <p class="menu-item-description">
                  Es el centro de los bifes anchos.
                  Es sabroso y de consistencia tierna y agradable. Se lo puede acompañar con ensaladas, papas y una copa de buen malbec.
                  Cuando los amigos o la familia se reúnen no hay plato más rico.
                </p>
              </div>
            </div>
            <div class="menu-item">
              <img class="menu-item-image" src="../imagen/menu 5.jpg" alt="Ojo de bife napolitano (600grs)">
              <div class="menu-item-text">
                <h3 class="menu-item-heading">
                  <span class="menu-item-name">Ojo de bife napolitano (600grs)</span>
                  <span class="menu-item-price"> $750</span>
                </h3>
                <p class="menu-item-description">
                  Es el centro de los bifes anchos. Es sabroso y de consistencia tierna y agradable.
                  El agregado de ingredientes le da una mayor presencia en el paladar.
                  Se lo puede acompañar con ensaladas, papas y una copa de buen malbec
                    
                </p>
              </div>
            </div>

          </div>
          <h2 class="menu-group-heading">
            Postres
          </h2>
          <div class="menu-group">
            <div class="menu-item">
              <img class="menu-item-image" src="../imagen/menu 6.webp" alt="Flan Casero">
              <div class="menu-item-text">
                <h3 class="menu-item-heading">
                  <span class="menu-item-name">Flan Casero</span>
                  <span class="menu-item-price">$250</span>
                </h3>
                <p class="menu-item-description">
                  Con una textura suave y para acompañar con dulce de leche o crema.
        Es el típico postre argentino que ya tiene una historia a sus espaldas y con su dulzura conquistó a los que gustan del gran momento dulce después de la comida.

                </p>
              </div>
            </div>
            <div class="menu-item">
              <img class="menu-item-image" src="../imagen/menu 7.jpg" alt="Panqueque Dulce de Leche">
              <div class="menu-item-text">
                <h3 class="menu-item-heading">
                  <span class="menu-item-name">Panqueque Dulce de Leche</span>
                  <span class="menu-item-price">$200</span>
                </h3>
                <p class="menu-item-description">
                  Simple y delicioso, la dulzura de un postre bien argentino que también conquistó a los extranjeros.
                  Lo prefieren los más golosos después de una buena comida que se disfrutó en familia o con amigos.          
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="FooterSection">

  
    <footer class="footer-distributed">
    
          <div class="footer-left">
    
            <h3>Steak<span>House</span></h3>
              <img src="../imagen/logo.png" alt="logo" height="100" width="150">
    
                   <p class="footer-links">
              
                       <a class="links" href="../index.html">Inicio</a>
            
                       <a class="links" href="../views/galeria.html">Galería</a>
            
                       <a class="links" href="../views/menu.html">Menú</a>
              
                       <a class="links" href="../views/locales.html">Locales</a>
              
                       <a class="links" href="../views/reservas.html">Reservas</a>
                    </p>
    
                  <p class="footer-company-name">Steak House © Copyright 2021</p>
          </div>
    
          <div class="footer-center">
    
            <div>
              <i class="fa fa-map-marker"></i>
              <p>Argentina, Buenos Aires</p>
            </div>
    
            <div>
              <i class="fa fa-phone"></i>
              <p>+54 9 11 3629-1942</p>
            </div>
    
            <div>
              <i class="fa fa-envelope"></i>
              <p><a href="mailto:Contacto@SteakHouse.com">Contacto@SteakHouse.com</a></p>
            </div>
    
          </div>
    
          <div class="footer-right">
    
            <p class="footer-company-about">
              <span> "La magia del sabor"</span>
            </p>
    
            <div class="footer-icons">
    
              <img src="../imagen/snapchat-min.png"  alt="Logo de snapchat" height="70" width="70"> <i class="fa fa-snapchat"></i>
              <img src="../imagen/twitter-min.png"  alt="Logo de twitter"  height="70" width="75"> <i class="fa fa-twitter"></i>
              <img src="../imagen/linkedin-min.png" alt="Logo de linkedin" height="70" width="85"> <i class="fa fa-linkedin"></i>
              <img src="../imagen/github.png" alt="Logo de github" height="70" width="70"> <i class="fa fa-github"></i>
    
            </div>
    
          </div>
    
      </footer>
   
</body>

</html>