<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <title> Menú </title>

    <link rel="stylesheet"   type="text/css"  href="../assests/css/estilos.css">
</head>

<body>

    <header class="EncabezadoViews">
          <nav>   
                  
  
                <ul class="ListasViews">
                    <li> <a href="../index.html"> Inicio </a></li>
                    <li> <a href="./menú.html"> Menú </a> </li>
                    <li> <a href="./galería.html"> Galería </a> </li>
                    <li> <a href="./locales.html"> Locales </a> </li>
                    
                </ul>
          </nav>

        <div class="TituloViews">
          <p>MENÚ</p>
        </div>

    </header>  


 <section class="FondoViews"> 
  <div>
    <div class="TextoViews">
      <p> Lomo al Malbec.

        300 gr. de lomo envuelto en panceta con salsa malbec, acompañado de puré de papas y tomate horneado.
    
        $720</p>
    <div/>

    <hr>

    <div class="TextoViews">
      <p>Chorizo Criollo de rueda

        Un clásico irresistible de las parrillas argentinas, ideal para degustar con un aperitivo y una rica ensalada antes del plato principal.
        
        $320</p>
    </div>

    <hr>

    <div class="TextoViews">
      <p>Lomo con marinada de verduras

        Muy tierno y con un sabor especial agregado por las verduras.
        Es la carne que se puede comer en varios puntos de cocción porque por general  se mantiene tierna y se adapta a cualquier tipo de guarnición que la acompañe.
        
        $650</p>
    </div>

    <hr>

    <div class="TextoViews">
      <p>Bondiola de cerdo mechada con panceta.

        Una comida para degustar con un buen vino tinto y comprender los aromas y texturas que se logran a partir de la combinación de los ingredientes de este plato.
        
        $700</p>
    </div>

    <hr>

    <div class="TextoViews">
      <p>Matambrito de cerdo

        La parte de cerdo que nunca falla cuando se cocina a la parrilla.
        Su sabor con limón y sal es inigualable y se puede acompañar muy bien con ensaladas frescas condimentadas con aceto balsámico y aceite de oliva.
        
        $645</p>
    </div>

    <hr>

    <div class="TextoViews">
      <p>Ojo de bife large (600grs)

        Es el centro de los bifes anchos.
        Es sabroso y de consistencia tierna y agradable. Se lo puede acompañar con ensaladas, papas y una copa de buen malbec.
        Cuando los amigos o la familia se reúnen no hay plato más rico.
        
        $710</p>
    </div>

    <hr>

    <div class="TextoViews">
      <p> Mollejas grilladas

        Para una entrada en calor antes del plato principal, muy ricas para comerlas crocantes con limón y sal.
        Son la tentación de cualquier persona que gusta de las buenas parrilladas y tienen un paladar muy afilado por su experiencia.
        
        $320 </p>
    </div>

    <hr>

    <div class="TextoViews">
      <p>Ojo de bife napolitano (600grs)

        Es el centro de los bifes anchos. Es sabroso y de consistencia tierna y agradable.
        El agregado de ingredientes le da una mayor presencia en el paladar.
        Se lo puede acompañar con ensaladas, papas y una copa de buen malbec.
        
        $750</p>
    </div>

    <hr>

    <div class="TextoViews"> 
      <p>Flan Casero

        Con una textura suave y para acompañar con dulce de leche o crema.
        Es el típico postre argentino que ya tiene una historia a sus espaldas y con su dulzura conquistó a los que gustan del gran momento dulce después de la comida.
        
        $250</p>
    </div>

    <hr>

    <div class="TextoViews"> 
      <p>Panqueque Dulce de Leche

        Simple y delicioso, la dulzura de un postre bien argentino que también conquistó a los extranjeros.
        Lo prefieren los más golosos después de una buena comida que se disfrutó en familia o con amigos.
        
        $200</p>

    </div>

  </div>


  <!--Hace falta moderarlo como el sketch- esperar a clases proximas-->


    </section>




       <footer id="footer"> 
        <hr>
        <h2>Contactanos</h2>
        <p>mail</p><p>numero de telefono</p>
          <h2>Encuentranos en rrss</h2>
  
        
        <img src="../Imagen/logo.png" alt="Logo" height="60px" width="60px">
        <p> "La magia del sabor" </p>
 
     </footer>


</body>

</html>