<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <meta name="description" content="Esta es la parte donde el usuario puede reservar en el restaurante para ir a comer">
    <meta name="keywords" content="Steak House Reservas">
    <title> Reservas Steak House </title>

    <link rel="stylesheet"   type="text/css"  href="../assests/css/estilos.css">
</head>

<body>

    <header class="EncabezadoViews">
          <nav>   
            <div id="navigator">
            <div class="topnav">
            <ul id="nav">
              <li><a   href="../index.html"> Inicio</a> </li>
              <li> <a  href="../views/menu.html"> Menú</a> </li>
              <li> <a  href="../views/galeria.html"> Galería</a> </li>
              <li> <a  href="../views/locales.html"> Locales</a> </li>
              <li> <a  class="active" href="../views/reservas.html"> Reservas</a> </li>
              
            </ul>
            </div>
          
          </nav>

        <div class="TituloViews">
          <p>RESERVAS</p>
        </div>
    </header>  

    <div class="container3"> 
      <div class="container-time">
      <h2 class="heading">Horario</h2>
      <h3 class="heading-days">Lunes-Viernes</h3>
      <p class="heading-days1"> 12am - 2pm (Almuerzo)</p>
      <p class="heading-days1"> 7pm - 12pm (Cena)</p>
      
      <h3 class="heading-days">Sabados y Domingos</h3>
      <p class="heading-days1"> 13am - 3am (Desayuno)</p>
      <p class="heading-days1"> 8pm - 1am (Almuerzo/Cena)</p>
      
      <hr>
      
      <h4 class="heading-phone">Llamanos: +54 9 11 3629-1942 </h4>
      </div>
      
      <div class="container-form">
      <form action="#">
      <h2 class="heading1">Reservas Online</h2>
      
      <div class="form-field">
      <p>Nombre </p>
      <input type="text" placeholder="Tu nombre y apellido">
      </div>
      <div class="form-field">
      <p>Email</p>
      <input type="email" placeholder="Tu email">
      </div>
      <div class="form-field">
      <p>Día</p>
      <input type="date">
      </div>
      <div class="form-field">
      <p>Horario</p>
      <input type="time">
      </div>
      <div class="form-field">
      <p>Cuántas personas?</p>
      <select name="select" id="#">
      <option value="1">1 persona</option>
      <option value="2">2 personas</option>
      <option value="3">3 persosas</option>
      <option value="4">4 personas</option>
      <option value="5">5 personas</option>
      <option value="5+">5+ personas</option>
      </select>
      </div>
      
      <button class="btn">Confirmar</button>
      </form>
      </div>
      </div>
   
    </body>

    <div class="FooterSection">


  <footer class="footer-distributed">
  
        <div class="footer-left">
  
          <h3>Steak<span>House</span></h3>
          <img src="../imagen/logo.png" alt="logo" height="100" width="150">
  
          <p class="footer-links">
            
            <a class="links" href="../index.html">Inicio</a>
          
            <a class="links" href="../views/galeria.html">Galería</a>
          
            <a class="links" href="../views/menu.html">Menú</a>
            
            <a class="links" href="../views/locales.html">Locales</a>
            
            <a class="links" href="../views/reservas.html">Reservas</a>
          </p>
  
          <p class="footer-company-name">Steak House © Copyright 2021</p>
        </div>
  
        <div class="footer-center">
  
          <div>
            <i class="fa fa-map-marker"></i>
            <p>Argentina, Buenos Aires</p>
          </div>
  
          <div>
            <i class="fa fa-phone"></i>
            <p>+54 9 11 3629-1942</p>
          </div>
  
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:Contacto@SteakHouse.com">Contacto@SteakHouse.com</a></p>
          </div>
  
        </div>
  
        <div class="footer-right">
  
          <p class="footer-company-about">
            <span> "La magia del sabor"</span>
          </p>
  
          <div class="footer-icons">
  
            <img src="../imagen/snapchat-min.png"  alt="Logo de snapchat" height="70" width="70"> <i class="fa fa-snapchat"></i>
            <img src="../imagen/twitter-min.png"  alt="Logo de twitter"  height="70" width="75"> <i class="fa fa-twitter"></i>
            <img src="../imagen/linkedin-min.png" alt="Logo de linkedin" height="70" width="85"> <i class="fa fa-linkedin"></i>
            <img src="../imagen/github.png" alt="Logo de github" height="70" width="75"> <i class="fa fa-github"></i>
  
          </div>
  
        </div>
  
  </footer>
 

            


</body>

</html>